<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    @*@Styles.Render("~/Content/css")*@

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
</head>
<body>
    <div id="loader" hidden="hidden">
        <img src="~/Content/images/spinner.gif" />
    </div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("work.organizedgains.com", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                <a class="navbar-brand" href="#">Organized Gains Workspace </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Index","Home")">Home</a></li>
                    @if (Session["isAdmin"].IsNotNull())
                    {
                        <li><a href="@Url.Action("Index","Admin")">Users</a></li>
                    }
                </ul>
                <ul class="nav navbar-nav" style="float:right !important">
                    <li class="text-right"><a href="@Url.Action("SignOut","Home")">SignOut</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content" style="min-height:77vh;">
        @RenderBody()
    </div>
    <footer>
        <hr />
        <p>&copy; @DateTime.Now.Year - work.organizedgains.com</p>
    </footer>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/Admin/Admin.js"></script>
    @*@Styles.Render("~/bundles/Admin")*@
</body>
</html>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>