@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "VM Details";
}
@model MngVm.Models.UserProfile

<div class="row">

    <h3>Welcome @Model.email</h3>@foreach (var machine in Model.machines)
    {
        <div class="vmstatusdiv">
            <div class="pull-left ms-10">
                Machine -
                <span id="machine" class="status lblMachine" style="background:gray;">@machine</span>
            </div>
            <div class="pull-left">
                Status -
                <img class="loader" src="~/Content/images/loader.gif" style="image-rendering:pixelated; height:23px; width:62px;" />
                <span id="@machine" class="status @machine" style="display:none;"></span>
            </div>
            @*<div class="pull-left">
                <span>OFF</span> <label class="switch">
                    <input type="checkbox" id="handler">
                    <span class="slider round"></span>
                </label> <span>ON</span>
            </div>*@
        </div>
    }
</div>

@*<script src="~/scripts/VM/operateVm.js"></script>*@

<script>
    $(document).ready(function () {
        $('#handler').change(function () {
            debugger;
            var isOn = $(this).is(':checked');
            if (isOn) {
                callAPI('@Url.Action("Start", "Home",null)')
            } else {
                callAPI('@Url.Action("Stop", "Home", null)');
            }
        });
    });
    function callAPI(operation) {
        var urlnew = operation
        $.ajax({
            type: "GET",
            url: urlnew,
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                Success = data;
                getStatus();
            },
            error: function (textStatus, errorThrown) {
                debugger;
                //$('#handler').prop('checked', false)
                alert(textStatus.responseJSON.error.message);
            }
        });
    }

    function getStatus(element) {
        var machinename = $(element).text();
        var urlnew = '@Url.Action("GetStatus", "Home",null)';
        $.ajax({
            type: "GET",
            url: urlnew + '?machineName=' + machinename,
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                $('.' + machinename).prev().hide();
                if (data.Value == null || data.Value.indexOf('deallocat') > 0) {
                    //$('#handler').prop('checked', false);
                    $('.' + machinename).addClass('off');
                }
                else {
                    //$('#handler').prop('checked', true);
                    $('.' + machinename).addClass('on');
                }
                $('.' + machinename).text(data.Value == null ? 'Not Available' : data.Value).fadeIn();
            },
            error: function (textStatus, errorThrown) {
                debugger;
                //  $('#handler').prop('checked', false)
                alert(textStatus.responseJSON.error.message);
            }
        });
    }

    $(window).on('load', function () {
        $('.lblMachine').each(function () {
            getStatus($(this));
        })
    });
</script>
